<div class="container text-center" ng-controller="accountController">
    <br><br>
<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="span2" >
		    <img src="https://seeklogo.com/images/W/world-championship-of-poker-logo-B1AF467A52-seeklogo.com.png" class="img-circle">
        </div>
        
        <div class="span8">
            <h2>{{user.Fname}} {{user.Lname}}</h2>
            <h5>username: {{user.username}}<h5>
            <h5>email: {{user.email}}</h5>
            <h5>phone: {{user.phone}}</h5>
            <h5>role: {{user.roleS}}</h5>
            <h5>status: <span ng-class="user.status.toLowerCase() == 'active' ? 'price-green' : user.status.toLowerCase() == 'guest' ? 'price-orange' :'price-red'" >{{user.status}}</span></h5>
        </div>
        
        
        <div class="span2">
            <div class="btn-group">
                <button class="btn btn-info" ng-click="edit()"> <span class="icon-wrench"></span> Edit </button>
            </div>
        </div>
        
</div>
    <div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
					<a ui-sref="games" title="Games">
						<span class="twPc-StatLabel twPc-block">Games</span>
						<span class="twPc-StatValue">{{user.totalGames}}</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a ui-sref="balance" title="Cash In">
						<span class="twPc-StatLabel twPc-block">Cash In</span>
						<span class="twPc-StatValue">{{user.totalCashIn}}</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a ui-sref="balance" title="Cash Out">
						<span class="twPc-StatLabel twPc-block">Cash Out</span>
						<span class="twPc-StatValue">{{user.totalCashOut}}</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a ui-sref="balance" title="Cash Out">
						<span class="twPc-StatLabel twPc-block">Avarge</span>
						<span class="twPc-StatValue">{{(user.totalCashOut - user.totalCashIn)/ user.totalGames | number:0}}</span>
					</a>
				</li>
			</ul>
		</div>
</div>

</div>