<div class="container text-center" ng-controller="accountController">
    <br><br>
<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="span2" >
		    <img src="https://seeklogo.com/images/W/world-championship-of-poker-logo-B1AF467A52-seeklogo.com.png" class="img-circle">
        </div>
        
        <div class="span8">
            <h2>{{user.Fname}} {{user.Lname}}</h2>
            <h5>username: {{user.username}}</<h5>
            <h5>email: {{user.email}}</h5>
            <h5>phone: {{user.phone}}</h5>
        </div>
        
        
        <div class="span2">
            <div class="btn-group">
                <button class="btn btn-info" ng-click="edit()"> <span class="icon-wrench"></span> Edit </button>
            </div>
        </div>
        
</div>
    <div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
					<a href="https://twitter.com/mertskaplan" title="9.840 Tweet">
						<span class="twPc-StatLabel twPc-block">Games</span>
						<span class="twPc-StatValue">9.840</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a href="https://twitter.com/mertskaplan/following" title="885 Following">
						<span class="twPc-StatLabel twPc-block">Cash In</span>
						<span class="twPc-StatValue">885</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a href="https://twitter.com/mertskaplan/followers" title="1.810 Followers">
						<span class="twPc-StatLabel twPc-block">Cash Out</span>
						<span class="twPc-StatValue">1.810</span>
					</a>
				</li>
			</ul>
		</div>
</div>

</div>