<div class="container" ng-controller="balanceController">

    <h1 class="text-center"> Balances </h1>
    <div>
        <label for="showGuests">Show Guests </label>
        <md-checkbox class="md-primary" ng-model="showGuests" ng-change="showGuestchange()"> </md-checkbox>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Player Name</th>
                <th class="text-center">Total Games</th>
                <th class="text-center">Buy in</th>
                <th class="text-center">Cesh out</th>
                <th class="text-center">Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in players | orderBy:['balance','totalCashOut','totalCashIn']: true" class="text-center">
                <td> {{ $index + 1 }} </td>
                <td> {{player.Fname}} {{player.Lname}} </td>
                <td> {{player.totalGames}} </td>
                <td> {{player.totalCashIn}} </td>
                <td> {{player.totalCashOut}} </td>
                <td ng-class="player.balance > 0 ? 'price-green' : 'price-red'"> {{player.balance}} </td>
            </tr>
        </tbody>
    </table>

</div>







