<div class="container" ng-controller="balanceController">

    <h1 class="text-center"> Balances </h1>
    <div>
        <label for="showGuests">Show Guests </label>
        <md-checkbox class="md-primary" ng-model="showGuests" ng-change="showGuestchange()"> </md-checkbox>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <!-- <th class="text-center" >Player Name</th> 
                <th class="text-center">Total Games</th>
                <th class="text-center">Buy in</th>
                <th class="text-center">Cesh out</th>
                <th class="text-center">Balance</th> -->
                <th class="text-center">
                    <a href="" ng-click="sortType = 'Fname'; sortReverse = !sortReverse">
                        Name 
                        <span ng-show="sortType == 'Fname' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Fname' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center"> 
                    <a href="" ng-click="sortType = 'totalGames'; sortReverse = !sortReverse">
                        Games
                        <span ng-show="sortType == 'totalGames' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'totalGames' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'totalCashIn'; sortReverse = !sortReverse">
                        Buy in
                        <span ng-show="sortType == 'totalCashIn' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'totalCashIn' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'totalCashOut'; sortReverse = !sortReverse">
                        Cash out
                        <span ng-show="sortType == 'totalCashOut' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'totalCashOut' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'balance'; sortReverse = !sortReverse">
                        Balance
                        <span ng-show="sortType == 'balance' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'balance' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'average'; sortReverse = !sortReverse">
                        AVG
                        <span ng-show="sortType == 'average' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'average' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>




                
            </tr>
        </thead>
        <tbody>
            <!-- <tr ng-repeat="player in players | orderBy:['balance','totalCashOut','totalCashIn']: true" class="text-center"> -->
            <tr ng-repeat="player in players | orderBy:sortType:sortReverse | filter:searchAtTable" class="text-center">
                <td> 
                    {{ $index + 1 }} 
                    <!-- <i ng-if="$index == 0" class="fa fa-trophy" aria-hidden="true"></i> -->
                </td>
                <td> {{player.Fname}} {{player.Lname}} </td>
                <td ng-class="games.length ==  player.totalGames ? 'price-green' : player.totalGames / games.length >= 0.5  ? 'price-orange' : 'price-red'"> {{player.totalGames}} </td>
                <td> {{player.totalCashIn}} </td>
                <td> {{player.totalCashOut}} </td>
                <td ng-class="player.balance > 0 ? 'price-green' : 'price-red'">{{player.balance}} </td>
                <td ng-class="player.average > 0 ? 'price-green' : 'price-red'">{{player.average}} </td>
            </tr>
        </tbody>
        <!-- <tfoot>
            <tr class="text-center">
                <td> <strong> Total </strong> </td>
                <td>{{allTotalCashIn}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot> -->
    </table>

    <div>
        <h4>Cash In: {{allTotalCashIn}} | games: {{games.length}}</h4>
    </div>

</div>







