<div class="container" ng-controller="balanceController">

    <h1 class="text-center"> Balances </h1>
    <div ng-show="loading">loading...</div>
    <div ng-show="!loading">
        <div style="display:flex; align-items:center; gap: 10px">
            <label style="margin: 0" >Show Guests </label>
            <input style="margin: 0" type="checkbox" class="btn btn-default" ng-model="showGuests" ng-change="showGuestchange()">
        </div>
        <table  class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'Fname'; sortReverse = !sortReverse">
                        Name
                        <span ng-show="sortType == 'Fname' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Fname' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'totalGames'; sortReverse = !sortReverse">
                        Games
                        <span ng-show="sortType == 'totalGames' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'totalGames' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'totalCashIn'; sortReverse = !sortReverse">
                        Buy in
                        <span ng-show="sortType == 'totalCashIn' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'totalCashIn' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'totalCashOut'; sortReverse = !sortReverse">
                        Cash out
                        <span ng-show="sortType == 'totalCashOut' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'totalCashOut' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'balance'; sortReverse = !sortReverse">
                        Balance
                        <span ng-show="sortType == 'balance' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'balance' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>

            </tr>
            </thead>
            <tbody>
            <!-- <tr ng-repeat="player in players | orderBy:['balance','totalCashOut','totalCashIn']: true" class="text-center"> -->
            <tr ng-repeat="player in players | orderBy:sortType:sortReverse | filter:searchAtTable" class="text-center">
                <td>
                    {{ $index + 1 }}
                    <!-- <i ng-if="$index == 0" class="fa fa-trophy" aria-hidden="true"></i> -->
                </td>
                <td ng-click="setPlayerForStat(player)" style="cursor: pointer;"> {{player.Fname}} {{player.Lname}} </td>
                <td ng-class="player.availableMaxGames ==  player.totalGames ? 'price-green' : player.totalGames / player.availableMaxGames >= 0.5  ? 'price-orange' : 'price-red'"> {{player.totalGames +'/'+ player.availableMaxGames}} </td>
                <td> {{player.totalCashIn}} </td>
                <td> {{player.totalCashOut}} </td>
                <td ng-class="player.balance > 0 ? 'price-green' : 'price-red'">{{player.balance}} </td>
                <!-- <td ng-class="player.average > 0 ? 'price-green' : 'price-red'">{{player.average}} </td> -->
                <!-- <td ng-class="player.average > 0 ? 'price-green' : 'price-red'">{{player.present | number:2}}% </td> -->
            </tr>
            </tbody>
            <!-- <tfoot>
                <tr class="text-center">
                    <td> <strong> Total </strong> </td>
                    <td>{{allTotalCashIn}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot> -->
        </table>
        <div>
            <h4>Cash In: {{allTotalCashIn}} | games: {{games.length}}</h4>
        </div>
    </div>


<!-- ng-if="showCharts" -->
<div style="margin-top:3%;" ng-if="showCharts.flag"> 
    
    <h4 style="text-align:center"> Statistics for: {{blurPlayerForStat.Fname}} {{blurPlayerForStat.Lname}} </h4>
    <hr>
        <!-- create Directive -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">Profits</div>
                        <div class="panel-body">
                            <canvas id="line" class="chart chart-line"
                                    chart-data="blurPlayerForStat.data"
                                    chart-labels="blurPlayerForStat.labels"
                                    chart-series="blurPlayerForStat.series"
                                    chart-options="options"
                                    chart-dataset-override="datasetOverride">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Win/Lose</div>
                        <div class="panel-body">
                            <canvas id="doughnut" class="chart chart-pie" chart-data="blurPlayerForStat.dataPie" chart-labels="blurPlayerForStat.labelsPie">
                            </canvas>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Doughnut Chart</div>
                        <div class="panel-body">
                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="dataPie" chart-labels="labelsPie">
                            </canvas>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib">
                                    <!-- <i class="ti-money text-success border-success"></i> -->
                                    <img style="height:70px;" src="images/money.svg">
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Max Profit</div>
                                    <div class="stat-digit">{{blurPlayerForStat.maxWin}}</div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib">
                                    <!-- <i class="ti-money text-success border-success"></i> -->
                                    <img style="height:70px;" src="images/loss.svg">
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Max Lose</div>
                                    <div class="stat-digit">{{blurPlayerForStat.maxLose}}</div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib">
                                    <!-- <i class="ti-money text-success border-success"></i> -->
                                    <img style="height:70px;" src="images/coin.svg">
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Max CashIn</div>
                                    <div class="stat-digit">{{blurPlayerForStat.maxIn}}</div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib">
                                    <!-- <i class="ti-money text-success border-success"></i> -->
                                    <img style="height:70px;" src="images/give-money.svg">
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Max CashOut</div>
                                    <div class="stat-digit">{{blurPlayerForStat.maxOut}}</div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






