<md-dialog aria-label="Add Group" style="width:100%;">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Group</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content layout-padding>
    <form name="userForm" ng-click="vm.newGroup(user)" >

      <div class="col-sm-12">
        <div class="col-sm-6">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input md-maxlength="30" required name="name" ng-model="user.name" />

          <div ng-messages="userForm.name.$error">
            <div ng-message="required">Name is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        </div>

         <div flex="5" hide-xs hide-sm> 
          <!-- Spacer //-->
         </div> 

        <!-- Country -->
        <div class="col-sm-6">
        <md-autocomplete flex required
            md-input-name="autocompleteField"
            md-input-minlength="2"
            md-input-maxlength="18"
            md-no-cache="true"
            md-selected-item-change="selectedCountryChange(item)"
            md-selected-item="selectedCounty"
            md-search-text="searchCountry"
            md-items="item in findCountry(searchCountry)"
            md-item-text="item.name"
            md-floating-label="Country">
          <md-item-template>
            <span md-highlight-text="searchCountry">{{item.name}}</span>
          </md-item-template>
          <div ng-messages="searchForm.autocompleteField.$error" ng-if="userForm.autocompleteField.$touched">
            <div ng-message="required">You <b>must</b> have a favorite state.</div>
            <div ng-message="md-require-match">Please select an existing state.</div>
            <div ng-message="minlength">Your entry is not long enough.</div>
            <div ng-message="maxlength">Your entry is too long.</div>
          </div>
        </md-autocomplete>
        </div>

      </div>

      <div class="col-sm-12">

        <!-- City -->
        <div class="col-sm-6">
          <md-autocomplete flex required
            ng-disabled="!user.country"
            md-input-name="autocompleteField1"
            md-input-minlength="2"
            md-input-maxlength="18"
            md-no-cache="true"
            md-selected-item-change="selectedCityChange(item)"
            md-selected-item="selectedCity"
            md-search-text="searchCity"
            md-items="item in findCity(searchCity)"
            md-item-text="item.terms[0].value"
            md-floating-label="City">
          <md-item-template>
            <span md-highlight-text="searchCity">{{item.terms[0].value}}</span>
          </md-item-template>
          <div ng-messages="searchForm.autocompleteField.$error" ng-if="userForm.autocompleteField1.$touched">
            <div ng-message="required">You <b>must</b> have a favorite state.</div>
            <div ng-message="md-require-match">Please select an existing state.</div>
            <div ng-message="minlength">Your entry is not long enough.</div>
            <div ng-message="maxlength">Your entry is too long.</div>
          </div>
        </md-autocomplete>
        </div>
        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <!-- Days -->
        <div class="col-sm-6">
           <md-input-container style="width:100%;">
            <label>Days</label> 
            <md-select name="days" multiple placeholder="Days" required ng-model="user.days" >
              <md-option ng-value="day" ng-repeat="day in example1data">{{day}}</md-option>
            </md-select>
            <div ng-messages="userForm.days.$error">
              <div ng-message="required">Days is required.</div>
            </div>
         </md-input-container> 
        </div>
      </div>

      <md-dialog-actions layout="row">

      <button class="btn btn-primary" ng-disabled="!userForm.$valid" ng-click="newGroup(user)">
       Create
      </button>
      
    </md-dialog-actions>

    </form>
  </md-content>

    {{city}}

</md-dialog>

