<div class="panel panel-primary" style="border-radius:0px; width:auto" >
    <div class="panel-heading" style="border-radius:0px;">
        {{::fullName}}
    </div>

  <div class="panel-body">
      <div class="cash-in-wrapper">
            <div class="title">
                    <span>Cach in</span>
                </div>
                <div ng-repeat="data in userCashIn track by $index" >
                  <div class="col-xs-12" >
                      <div class="col-xs-offset-2 col-xs-4" style="text-align:center; font-size: 25px; font-weight: bold;"> {{data.cash_in}} </div>
                      <div class="col-xs-4"> 
                          <button class="btn btn-link" style="color:red" style="text-align:center;" ng-click="daleteCashIn(data['_id'],$index)">
                              <span class="glyphicon glyphicon-trash"></span>
                          </button>
                      </div>
                  </div>
                </div>
      </div>
      <div class="cash-out-wrapper">
            <div class="title">
                    <span>Cach out</span>
                </div>
                <div ng-repeat="data in userCashOut track by $index" >
                  <div class="col-xs-12" >
                      <div class="col-xs-offset-2 col-xs-4" style="text-align:center; font-size: 25px; font-weight: bold;"> {{data.cash_out}} </div>
                      <div class="col-xs-4"> 
                          <button class="btn btn-link" style="color:red" style="text-align:center;" ng-click="daleteCashOut(data['_id'],$index)">
                              <span class="glyphicon glyphicon-trash"></span>
                          </button>
                      </div>
                  </div>
                </div>
      </div>


  </div>
  <!-- <div class="panel-footer">
      
  </div> -->
</div>
