<div class="panel panel-primary" style="border-radius:0px;" >
    <div class="panel-heading" style="border-radius:0px;">
        Add Group
    </div>

  <div class="panel-body">
    <form name="userForm" >

      <div class="col-md-12">
        <!-- Name -->
        <div class="col-md-6">
            <label>Name</label>
            <input required class="form-control" name="name" ng-model="group.name" />

            <div ng-if="!userForm.name.$valid">
              <small class="form-text text-muted" style="color:red">Group name is required</small>
            </div>
        </div>

        <!-- City -->
        <div class="col-md-6">

          <label for="city">City</label>
          
          <input vs-google-autocomplete="{ types:['(cities)'] }"
                 ng-model="group.city" 
                 required
                 type="text" 
                 name="city"
                 id="city"
                 class="form-control" 
                 placeholder="Enter city name">
                <div ng-if="!userForm.city.$valid">
                    <small class="form-text text-muted" style="color:red">City is required</small>
                </div>
        </div>
      </div>

      <div class="col-md-12">

        <!-- Days -->
        <div class="col-md-6">
            <label>Days</label> 
            <select name="days" class="form-control" placeholder="Days" required ng-model="group.days" >
              <option ng-value="day" ng-repeat="day in days">{{day}}</option>
            </select>
            <div ng-if="!userForm.days.$valid">
              <small class="form-text text-muted" style="color:red">Days is required</small>
              
            </div>
        </div>
      </div>

    </form>
  </div>
  <div class="panel-footer">
      <button class="btn btn-primary" ng-disabled="!userForm.$valid" ng-click="newGroup(group)">
          Create
      </button>
  </div>
</div>
