<div class="container" ng-controller="gamesController">

    <h1 class="text-center"> All Games </h1>

    <!-- <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search in table" ng-model="searchAtTable">
            </div>      
        </div>
    </form> -->

    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th class="text-center">Date</th>
                <th class="text-center">Players</th>
                <th class="text-center">Cashier</th>
                <th class="text-center">Game Status</th> -->
                

                <th class="text-center">
                    <a href="" ng-click="sortType = 'game_date'; sortReverse = !sortReverse">
                        Date
                        <span ng-show="sortType == 'game_date' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'game_date' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'totalPlayers'; sortReverse = !sortReverse">
                        Players
                        <span ng-show="sortType == 'totalPlayers' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'totalPlayers' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'totalCashIn'; sortReverse = !sortReverse">
                        Cashier
                        <span ng-show="sortType == 'totalCashIn' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'totalCashIn' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'game_status'; sortReverse = !sortReverse">
                        Status
                        <span ng-show="sortType == 'game_status' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'game_status' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>

                <th class="text-center"></th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games | orderBy:sortType:sortReverse | filter:searchAtTable" class="text-center">
                <td> {{game.game_date | date}} </td>
                <td> {{game.totalPlayers}} </td>
                <td> {{game.totalCashIn}} </td>
                <td ng-class="game.game_status == 'Open' ? 'price-green' : 'price-red'"> {{game.game_status}} </td>
                <th class="text-center">
                    <button ng-click="gameDetails(game['_id'])" ng-if="game.game_status == 'Close' || !(userLogIn.currentUser) || (userLogIn.currentUser.userRole == 0)" ng-disabled="false" class="btn btn-primary">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </button>
                    <button ng-click="editGame(game['_id'])" ng-if="game.game_status == 'Open' && userLogIn && userLogIn.currentUser.userRole != 0" ng-disabled="false" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button ng-if="userLogIn && userLogIn.currentUser.userRole == 2" ng-disabled="game.totalPlayers || game.totalCashIn" class="btn btn-danger" ng-click="removeGame(game['_id'])">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                </th>
            </tr>
        </tbody>
    </table>

</div>



