<div class="container" ng-controller="gamesController">

    <h1 class="text-center"> All Games </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Players</th>
                <th class="text-center">Cashier</th>
                <th class="text-center">Game Status</th>
                <th class="text-center">Game Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games | orderBy:['game_status','game_date']: true" class="text-center">
                <td> {{game.game_date | date}} </td>
                <td> {{game.totalPlayers}} </td>
                <td> {{game.totalCashIn}} </td>
                <td ng-class="game.game_status == 'Open' ? 'price-green' : 'price-red'"> {{game.game_status}} </td>
                <th class="text-center">
                    <button ng-click="gameDetails(game['_id'])" ng-if="game.game_status == 'Close'" ng-disabled="false" class="btn btn-primary">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </button>
                    <button ng-click="editGame(game['_id'])" ng-if="game.game_status == 'Open'" ng-disabled="false" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button ng-disabled="game.totalPlayers || game.totalCashIn" class="btn btn-danger" ng-click="removeGame(game['_id'])">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                </th>
            </tr>
        </tbody>
    </table>

</div>



