<div class="container" ng-controller="manageUsersController">

    <h1 class="text-center"> Users Manager </h1>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search in table" ng-model="searchAtTable">
            </div>      
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th class="text-center">#</th> -->
                <!-- <th class="text-center">Full Name</th>
                <th class="text-center">Username</th>
                <th class="text-center">Password</th>
                <th class="text-center">Role</th>
                <th class="text-center">Status</th> -->
                

                <th class="text-center">
                    <a href="" ng-click="sortType = 'Fname'; sortReverse = !sortReverse">
                        Name
                        <span ng-show="sortType == 'Fname' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Fname' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'username'; sortReverse = !sortReverse">
                        Username
                        <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'password'; sortReverse = !sortReverse">
                        Password
                        <span ng-show="sortType == 'password' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'password' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'role'; sortReverse = !sortReverse">
                        Role
                        <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="text-center">
                    <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                        Status
                        <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>

                <th class="text-center">options</th>


            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in names | orderBy:sortType:sortReverse | filter:searchAtTable" class="text-center">
                <!-- <td> {{ $index + 1 }} </td> -->
                <td>
                     {{player.Fname}} {{player.Lname}} 
                </td>
                <td>
                    <div class="form-group">
                        <span ng-if="!player.editable"> {{player.username}}  </span>
                        <input type="text" placeholder="password" ng-if="player.editable" ng-model="player.username">
                        
                    </div>
                </td>
                <td>
                     <div class="form-group">
                        <span ng-if="!player.editable"> {{player.password}}  </span>
                        <input type="text" placeholder="password" ng-if="player.editable" ng-model="player.password">
                    </div>
                </td>
                <td 
                    <div class="form-group">
                        <span ng-if="!player.editable"> {{player.role}} </span>
                         <select ng-if="player.editable" class="form-control" id="player" ng-model="player.role">
                            <option ng-repeat="role in availableOptions" value={{role.id}}>{{role.name}}</option>
                        </select> 


                        <!-- <md-input-container style="margin-top: 0px;" ng-if="player.editable">
                            <md-select ng-model="player.role">
                               <md-option ng-repeat="role in availableOptions" ng-value="role.id">
                                    {{role.name}}
                                </md-option>
                            </md-select>
                        <md-input-container>  -->


                    </div>
                </td>
                <td>
                     <div class="form-group" id="manageUsersStatus">
                        <span ng-if="!player.editable"> {{player.status}} </span>
                         <select ng-if="player.editable" class="form-control" id="status" ng-model="player.status">
                            <option ng-repeat="status in statusOptions" value={{status.name}}>{{status.name}}</option>
                        </select> 

                        <!-- <md-input-container style="margin-top: 0px;" ng-if="player.editable">
                            <md-select ng-model="player.status">
                               <md-option ng-repeat="status in statusOptions" ng-value="status.name">
                                    {{status.name}}
                                </md-option>
                            </md-select>
                        <md-input-container>  -->

                    </div>
                </td>
                <td>
                    
                    <button class="btn btn-link" ng-click="editRow(player)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <button class="btn btn-link" ng-click="save(player)">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>

                    <button class="btn btn-link" style="color:red" ng-click="delete(player)">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>







