
<!-- First Parallax Image with Logo Text -->
<div id="home-page">
<div class="bgimg-1 parallax-window w3-display-container w3-opacity-min" data-parallax="scroll" data-image-src="/images/cover1.jpg" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <!-- <span class="w3-center w3-wide w3-animate-opacity"><img src="/images/logo.png"></span> -->

    <div class="w3-center">
      <div id="title" when-visible="animateElementIn" style="display:block !important" class="hidden">
      <h1 style="font-size:50px; padding-bottom: 5%; color: #1e94cc;">Weekly <strong>Poker</strong></h1>
      </div>
      
		<p when-visible="animateElementIn" id="titlebtn" style="display:block !important" class="hidden">
      <a ng-click="getStarted()" class="btn btnn-primary btnn-outline with-arrow"> {{btnText}} <i class="icon-arrow-right"></i></a>
    </p>
    </div>
    
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64 hidden" id="about"
      when-visible="animateElementIn"
      style="display:block !important">
  <h3 class="title-home-text-center" style="margin-bottom:40px; font-weight:bold">ABOUT US</h3>
  <p class="p-style" style="text-align:center;">
      We created WeeklyPokers out of our love for the game.
      WeeklyPoker helps poker groups manage their players, ranks and cash balances.
  </p>
  <div class="w3-row">
    <!-- <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>My Name</b></p><br>
      <img src="/w3images/avatar_hat.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div> -->

    <!-- Hide this text on small devices -->
    <!-- <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div> -->
  </div>
  
</div>

<button id="demo" ng-show="false" ng-click="reCount()">count</button>
<div class="w3-row w3-center w3-dark-grey w3-padding-16 hidden" id="number-count" 
     when-visible="animateElementIn" style="display:block !important">
  <div  class="w3-quarter w3-section" id="Groups">
    <div class="w3-xlarge" count-to="{{groupsTo}}" duration="2" value="{{groupsFrom}}"> {{ groupsTo | number:0 }}</div>
    Groups
  </div>
  <div  class="w3-quarter w3-section" id="CashIn">
    <div class="w3-xlarge" count-to="{{cashinTo}}" duration="2" value="{{cashinFrom}}"> {{ cashinFrom | number:0 }}</div>
    Cashins
  </div>
  <div  class="w3-quarter w3-section" id="players">
    <div class="w3-xlarge" count-to="{{playersTo}}" duration="2" value="{{playersFrom}}"> {{ playersTo | number:0 }}</div>
    Players
  </div>
  <div  class="w3-quarter w3-section" id="games">
    <div class="w3-xlarge" count-to="{{gamesTo}}" duration="2" value="{{gamesFrom}}"> {{ gamesTo | number:0 }}</div>
    Games
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <!-- <span class="w3-xxlarge w3-text-white w3-wide">Passion</span> -->
  </div>
</div>

  <div id="fh5co-programs-section" class="w3-container w3-padding-64 hidden" when-visible="animateElementIn" style="display:block !important">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2 style="margin-bottom:40px; font-weight:bold">Our Goals</h2>
							<p class="p-style" style="margin-bottom:60px;">To provide an interface to manage all the relevant information for your poker group.</p>
						</div>
					</div>
				</div>
				<div class="row text-center title-home-text-center">
					<div class="col-md-4 col-sm-6">
						<div class="animate-box">
							<img src="images/dealer.svg" alt="">
							<h3>Game Management</h3>
							<p class="p-style"> Create / Edit / Preview games played by the group. </p>
							<!-- <span><a href="#" class="btn btn-default">Join Now</a></span> -->
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="animate-box">
							<img src="images/money.svg" alt="">
							<h3>Withdrawals & Deposits</h3>
							<p class="p-style">Manage all deposits and withdrawals made by players during the game. </p>
							<!-- <span><a href="#" class="btn btn-default">Join Now</a></span> -->
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="animate-box">
							<img src="images/statistics.svg" alt="">
							<h3>Statistics</h3>
							<p class="p-style">View user statistics based on game history. </p>
							<!-- <span><a href="#" class="btn btn-default">Join Now</a></span> -->
						</div>
					</div>
					
					
				</div>
			</div>
    </div>
    
<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle" >
     <!-- <span class="w3-xxlarge w3-text-white w3-wide">TODO - Add CONTACT</span> -->
  </div>
</div>
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity" >
  <a ng-click="backToTop()" class="w3-button w3-light-grey" when-visible="animateElementIn" id="totop"
  ><i class="fa fa-arrow-up w3-margin-right" ></i>To the top</a>
  <div class="w3-xlarge w3-section hidden" when-visible="animateElementIn" id="mediaicons"
       style="display:block !important">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
     <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i> 
  </div>
  <p>Powered by <a href="https://weeklyPokers.com" title="weeklyPokers.com" target="_blank" class="w3-hover-text-green">weeklyPokers.com</a></p>
</footer>
 
