body {
  overscroll-behavior: contain;
}

.price-red {
    color: red;
}

.price-green {
    color: green;
}

.price-orange {
    color: orange;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}



.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    max-width: 340px;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 0px;
    padding: 40px 0;
    padding-bottom: 5px;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

/* Autocomplete */
.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: 75px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}
.autocomplete-custom-template .item-title md-icon {
  height: 20px;
  width: 20px;
}

.md-content.md-default-theme, md-content {
    background-color: #fff;
}

.hidden {
  visibility: hidden;
}

.ngdialog-content{
  padding: 0px !important;
  width: 80% !important;
}

@media only screen and (max-width: 768px) {
  .ngdialog-content{
    width: 100% !important;
  }
}

.ngdialog.ngdialog-theme-plain .ngdialog-close {
  background: none;
  border: none;
}

.pac-container {
  z-index: 9999999999999 !important;
}





/* TEST */

.btnn-primary {
  background: #1e94cc;
  color: #fff;
  border: 2px solid #1e94cc
}

.btnn-primary.btnn-outline:hover, .btnn-primary.btnn-outline:focus, .btnn-primary.btnn-outline:active {
  background: #1e94cc;
  color: #fff;
}

.btnn-outline {
  background: none;
  border: 2px solid #1e94cc;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* animate */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.p-style {
  color: #848484; 
  font-size: 20px;
}

.title-home-text-center{
  line-height: 1.8; 
  text-align: center; 
  font-family: 'Roboto', Arial, sans-serif;
}

.title-home-text-center img {
  width: 70px;
  margin-bottom: 30px;
}


/* account css */

.card {
  margin-bottom: 1.5rem;
  border-radius: 0;
  position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.stat-widget-one .stat-icon {
  vertical-align: top;
}

.dib {
  display: inline-block;
}

.stat-widget-one .stat-icon i {
  font-size: 30px;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  padding: 15px;
  font-weight: 900;
  display: inline-block;
}

.text-success {
  color: #28a745!important;
}

.border-success {
  border-color: #28a745!important;
}

.ti-money:before {
  content: "\e68c";
}

@font-face {
	font-family: 'themify';
	src:url('../fonts/themify.eot');
	src:url('../fonts/themify.eot?#iefix') format('embedded-opentype'),
		url('../fonts/themify.woff') format('woff'),
		url('../fonts/themify.ttf') format('truetype'),
		url('../fonts/themify.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.stat-widget-one .stat-content {
  margin-left: 30px;
  margin-top: 7px;
}

.stat-widget-one .stat-text {
  font-size: 14px;
  color: #868e96;
}

.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #373757;
}